@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #D9D9D9;
}

header {
    background-color: white;
}
.header-mobile {
    padding: 30px 9px;
}
.header-mobile h1 {
    font-family: 'Fredoka One', sans-serif;
    color: #006AFF;
    font-size: 1.5rem;
    font-weight: 800;
}
.itens-header {
    display: block;
}
.itens-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-header {
    display: flex;
    gap: 10px;
}
.itens-top img {
    width: 15px;
    height: 15px;
}
.itens-top .img-src, .mensseger {
    width: 30px;
    height: 30px;
    background-color: #D9D9D9;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itens-bottom {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    
}
.list-item ul{
    display: flex;
    gap: 9px;
    list-style: none;
     
}
.list-item ul li a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: black;
}
.list-item ul li a:hover {
    cursor: pointer;
    color: #006AFF;
    border-bottom: #006AFF 1px solid;
}
.list-item ul li a:active {
    cursor: pointer;
    color: #006AFF;
    border-bottom: #006AFF 1px solid; 
}
.public-feed {
    display: flex;
    align-items: center;
}
.public-feed img {
    position: absolute;
}
textarea {
    border: none;
    overflow: hidden;
}
textarea::placeholder {
    position: relative;
    top: 20px;
    left: 45px;
}
.actions-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.live, .photo, .discuss {
    display: flex;
    gap: 8px;
    font-size: 0.8rem;
    font-weight: bold;
    position: relative;
    top: 25px;
}
.actions-nav div img {
    width: 18px;
    height: 18px;
}
/*  Style nav Mobile*/

.nav-mobile {
    width: 100%;
    height: 150px;
    display: flex;
    margin-top: 9px;
    gap: 7px;
    background-color: white;
}
.creat-story {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.creat-story .my-story img{
    width: 80px;
    height: 100px;
    margin-top: 30px;
    margin-left: 9px;
    position: relative;
}
.add-story span {
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    display: flex;    
}
.add-story {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #006AFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -25px;
    left: 6px;
}
.add-story:hover{
    cursor: pointer;
    background-color: #D9D9D9;
    color: black;
}
.creat-story .text {
    width: 80px;
    font-size: 0.8rem;
    text-align: center;
    font-weight: bolder;
    position: relative;
    top: -25px;
    left: 6px;
}
.img-story img{
    width: 90px;
    margin-top: 8px;
}
.story-friend01, .story-friend02 {
    position: relative;
    display: flex;
}
.img-avatar img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 5px;
    outline: #006AFF 2px solid;
    border-radius: 50px;
}
.story p{
    color: white;
    position: absolute;
    top: 120px;
    left: 6px;
    font-size: 0.9rem;
}

/*  Style main mobile*/

main {
    width: 100%;
}
.public-feed-main {
    display: flex;
    flex-direction: column;
    padding: 10px 9px;
    background-color: white;
    margin-top: 9px;
    gap: 7px;
}
.public-feed-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar-feed-main {
    display: flex;
    align-items: center;
    gap: 7px;
}
.avatar-feed-main .img-feed-main {
    width: 50px;
    height: 50px;
    outline: #006AFF 2px solid;
    border-radius: 50px;
}
.act-status {
    display: flex;
    gap: 7px;
}
.text-feed h2{
    font-size: 1rem;
    font-weight: bolder;
}
.text-feed p {
    font-size: 0.7rem;
}
.text-feed img {
    width: 15px;
}
.public-feed-top .rete {
    width: 18px;
    height: 18px;
}
.public-feed-bottom {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 0.9rem;
}

@media (max-width: 388px) {
    .header-desktop {
        display:none;
    }    
}